// Main colors   //https://digitalsynopsis.com/design/minimal-web-color-palettes-combination-hex-code/
$primary: #363636;
$primary-dark: #1e1d1d;
$primary-light: #474747;
$primary-lighter:  #f3e9ed;
$primary-transparent: #A8A7A702;


//Secondary
$secondary: #E8175D;
$secondary-dark: #9e083a;
$secondary-light: #d58fa6;
$secondary-lighter:#f3e9ed;
$secondary-lighter: #f1f1f1;

//light, dark, alpha


//Abstract 
$white: #ffffff;

//font
$main: 'Source Sans Pro', sans-serif;
